:root {
  /* Main Colors */
  --pink: #FF6BBE;
  --purple: #8A6DFF;
  --navy-blue: #000080;
  
  /* Accent Colors */
  --light-gray: #F7F7F7;
  --soft-pink: #dcc2f7;
  --soft-blue: #7a24ff;
  --dark-gray: #333333;
  
  /* Neutral Colors */
  --white: #FFFFFF;
  --black: #000000;
}
.body {
  height: 100vh;
}

.container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
h1 {
  text-align: center;
  font-size: 30px;
}
input {
  width: 80%;
  padding: 15px 15px;
  border: 1px solid;
  border-radius: 70px;
  box-shadow: 20px 20px 60px #cacaca,
      -20px -20px 60px #ffffff;
}
textarea {
  width: 80%;
  padding: 15px 15px;
  border-radius: 20px;
  box-shadow: 20px 20px 60px #cacaca,
      -20px -20px 60px #ffffff;
}
button {
  margin: 10px;
}
h3 {
  font-size: 16px;
}