:root {
  /* Main Colors */
  --pink: #FF6BBE;
  --purple: #8A6DFF;
  --navy-blue:#000080;

  /* Accent Colors */
  --soft-pink: #FFE6F7;
  --light-purple: #E2DBFF;
  --dark-gray: #333333;
  --light-gray: #F7F7F7;

  /* Neutral Colors */
  --white: #FFFFFF;
  --black: #000000;
}


